<div class = "container">
    <div class = "row">
       <div class="col-md-3">
          <div>
            <h1>User info</h1>
               <div><%= attachment_image_tag user, :profile_image, :fill, 60, 60,class: "img-square pull-left profile-thumb", format: 'jpg', fallback: "no_image.jpg" %>
               </div>
            <table class="table">
              <tbody>
               <tr>
                <th>name</th>
                <td><%= user.name %></td></tr>
               <tr>
               <th>introduction</th>
                <td><%= user.introduction %></tr>
              </tbody>
            </table>
             <%= link_to "編集画面", edit_user_path(user.id) %>
          </div>
          <div>
            <%= form_for(book) do |f| %>
             <p><h1>New Book</h1></p>
             <p><h3>Title</h3></p>
             <p><%= f.text_field :title %></p>
             <p><h3>Opinion</h3></p>
             <p><%= f.text_area :body %></p>
             <p><%= f.submit 'Create Book' %></p>
            <% end %>
          </div> 
      </div>
            